div{
    margin: 2px;
}

#principal{
    border: 1px solid black;
    height: 600px;
    width: 600px;   
}

#b1{
    background-color: greenyellow;
    position: absolute;
    width: 594px;
    height: 77px;
}

#b2{
    background-color: green;
    position: absolute;
    top: 92px;
    width: 200px;
    height: 77px;
}

#b3{
    background-color: greenyellow;
    position: absolute;
    top: 175px;
    width: 200px;
    height: 77px;
}

#b4{
    background-color: green;
    position: absolute;
    top: 258px;
    width: 200px;
    height: 77px;
}

#b5{
    background-color: aquamarine;
    position: absolute;
    top: 94px;
    left: 218px;
    width: 386px;
    height: 243px;
}

#b6{
    background-color: black;
    color: aliceblue;
    position: absolute;
    top: 340px;
    width: 200px;
    height: 180px;
}

#b7{
    background-color: greenyellow;
    position: absolute;
    top: 525px;
    width: 400px;
    height: 77px;
}

#b8{
    background-color: greenyellow;
    position: absolute;
    top: 340px;
    left: 218px ;
    width: 194px;
    height: 87px;
}

#b9{
    background-color: green;
    position: absolute;
    top: 430px;
    left: 218px ;
    width: 194px;
    height: 87px;
}

#b10{
    background-color: greenyellow;
    position: absolute;
    top: 340px;
    left: 418px ;
    width: 186px;
    height: 260px;
}
