body{
    background-color: #fef2cd;
}

footer{
    margin: 0px;
}

#principal{
    width: 830px;
    border: 5px solid black;
    display: grid;
}

#nombre{
    width: 100%;
}
h6{
    color: #fef2cd;
    padding: 0px;
}

#content{
    border: 3px solid black;
}

#izq1{
    grid-columns: 1 / 2;
}

#sighted{
    grid-columns: 2 / 3;
}

#sirius{

    background-image: url(../imagenes/siriusBlackGif.gif);
    background-size: 600px 650px;
    position: absolute;
    left: 150px;
}

#izq2{

}

#izq3{

}

#der1{

}

#der2{

}