body{
    background-color: #fef2cd;
}

footer{
    margin: 0px;
}

#principal{
    width: 830px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 20% 60% 20%;

}

#nombre{
    width: 95%;
    display: block;
    margin: 0 auto;
}

h6{
    color: #fef2cd;
    padding: 0px;
}

#content{
    border: 3px solid black;
    grid-column: 1 / 4;

}

#izq1{
    grid-columns: 1 / 2;
}

#sighted{
    grid-columns: 2 / 3;
    grid-row: 2 / 3;
    display: block;
    margin: 0 auto;
}

#sirius{

    background-image: url(../imagenes/siriusBlackGif.gif);
    background-size: 600px 650px;
    position: absolute;
    left: 150px;
}

#izq2{
    grid-column: 1 / 2;
}

#izq3{

}

#der1{

}

#der2{

}