h1{
    text-align: center;
    color: rgb(110, 148, 115);
    font-size: 35px;
}

.apartado1{
    font-size: 20px;
    font-style: italic;
    color: rgb(81, 148, 202);
}

.subrayado {
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
}

#inf-bas{
    background-color: rgb(204, 233, 236);
    width:625px;
    height:270px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#nation{
    background-color: rgb(241, 189, 120);
    width:625px;
    height:65px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#estudios{
    background-color: rgb(231, 150, 191);
    width:625px;
    height:45px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#idiomas{
    background-color: rgb(216, 89, 89);
    width:625px;
    height:45px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#fin{
    background-color: rgb(219, 219, 219);
    width:625px;
    height:25px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#nombre{
    color: black;
    width: 400px;
    height: 10px;
}

#altura{
    color: black;
}

