
.dias{
src: url(../fonts/Poppins-Italic.ttf);
}

caption{
    font-size: 25px;
    color: darkslategrey;
    text-decoration: underline;
    padding-bottom: 15px;

}

.patio{
    text-align: center;
    font-weight: bold;
}

#logo{
    width: 60px;
}

#tuto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(127, 255, 212, 0.596);
    font-size: 14px;
}

#fol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(139, 127, 243, 0.637);
    font-size: 14px;
}

.m04{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(100, 148, 237, 0.534);
    font-size: 14px;

}

.m08{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(230, 122, 194, 0.507);
    font-size: 15px;
}

.m07{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(166, 201, 109, 0.89);
    font-size: 15px;
}

.m06{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(228, 143, 143, 0.89);
    font-size: 15px;
}

.aula{
    font-style: italic;
}

h1{
    text-align: left;
}

h3{
    text-align: right;
}   

table{
    text-align: center;
    border-style: groove;
    border-width: 2px;
    border-collapse: collapse;
    margin: auto;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px
}

td{
    border-style: groove;
    border-collapse: collapse;
    border-width: 2px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 20px
}

tr{
    border-style: groove;
    border-collapse: collapse;
    border-width: 2px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 20px
    
}

th{
    border-style: groove;
    border-collapse: collapse;
    border-width: 2px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px
}
