table, th,td{
    border-style: groove;
    border-width: 2px;
    border-collapse: collapse;
}

.tachado{
    text-decoration: line-through;
    color: black;
}

.bold{
    color: black;
    font-weight: bold;
}

td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}