h1{
    text-align: center;
    color: rgb(155, 120, 196);
    font-size: 40px;
    text-decoration: underline;
}

.apartado1{
    font-size: 20px;
    font-style: italic;
    color: rgb(51, 149, 230);
}

.subrayado {
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
}

.apartado2{
    font-size: 20px;
    font-style: italic;
    color: rgb(238, 100, 58);
}

.apartado4{
    font-size: 20px;
    font-style: italic;
    color: rgb(160, 12, 12);
}

#inf-bas{
    background-color: rgb(209, 238, 241);
    width:625px;
    height:270px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#nation{
    background-color: rgb(233, 200, 158);
    width:625px;
    height:65px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#estudios{
    background-color: rgb(200, 236, 159);
    width:625px;
    height:45px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#idiomas{
    background-color: rgb(228, 121, 121);
    width:625px;
    height:45px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#fin{
    background-color: rgb(219, 219, 219);
    width:625px;
    height:25px;
    margin:auto;
    border-radius:10px 10px 10px 10px;
}

#nombre{
    color: black;
    width: 400px;
    height: 20px;
}

#altura{
    color: black;
    width: 150px;
    height: 15px;
}



