div{
    margin: 2px;
}

#principal{
    border: 1px solid black;
    height: 600px;
    width: 600px;   
}

#izquierda{
    float: left;
    width: 64.5%;
    margin: 1px;
}

#derecha{
    float: right;
    width: 34%;
    margin: 1px;
}


#b1{
    background-color: green;
    width: 100%;
    height: 95px;
}

#b2{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 48.5%;
    height: 192px;
}

#b3{
    background-color: green;
    color: aliceblue;
    float: right;
    width: 48.5%;
    height: 295px;
}

#b4{
    background-color: green;
    float: left;
    width: 48.5%;
    height: 95px;
}

#b5{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 48.5%;
    height: 196px;
}

#b6{
    background-color: greenyellow;
    float: right;
    width: 48.5%;
    height: 95px;
}

#b7{
    background-color: greenyellow;
    float: right;
    width: 48.5%;
    height: 95px;
}

#b8{
    background-color: greenyellow;
    float: left;
    width: 98%;
    height: 95px;
}

#b9{
    background-color: green;
    float: left;
    width: 98%;
    height: 95px;
}

#b10{
    background-color: greenyellow;
    float: left;
    width: 98%;
    height: 95px;
}

#b11{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 98%;
    height: 196px;
}

#b12{
    background-color: green;
    float: left;
    width: 98%;
    height: 95px;
}

