div{
    margin: 1.5px;
}

#principal{
    border: 1px solid black;
    height: 600px;
    width: 600px;  
}

#izquierda{
    float: left;
    width: 392px;
    margin: 1px;
}

#derecha{
    float: right;
    width: 204px;
    margin: 1px;
}


#b1{
    background-color: green;
    width: 389px;
    height: 95px;
}

#b2{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 190px;
    height: 196px;
}

#b3{
    background-color: green;
    float: right;
    width: 194px;
    height: 295px;
}

#b4{
    background-color: green;
    float: left;
    width: 190px;
    height: 95px;
}

#b5{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 190px;
    height: 196px;
}

#b6{
    background-color: greenyellow;
    float: right;
    width: 194px;
    height: 96px;
}

#b7{
    background-color: greenyellow;
    float: right;
    width: 194px;
    height: 96px;
}

#b8{
    background-color: greenyellow;
    float: left;
    width: 198px;
    height: 95px;
}

#b9{
    background-color: green;
    float: left;
    width: 198px;
    height: 95px;
}

#b10{
    background-color: greenyellow;
    float: left;
    width: 198px;
    height: 95px;
}

#b11{
    background-color: black;
    color: aliceblue;
    float: left;
    width: 198px;
    height: 196px;
}

#b12{
    background-color: green;
    float: left;
    width: 199px;
    height: 98px;
}

