body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: bisque;
}

#logo{
    /*background-image: url(imagenes/logo_provenzana.jpg);
    background-size: 150px 120px ;*/
    grid-column: 1 /2 ;
    
}

#content{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

nav li:hover{
    grid-template-columns: 1 / 2;
    background-color: azure;
}

main{
    grid-template-columns: 2 / 3;
}

article{
    grid-template-columns: 3 / 4;
    background-image: url(../imagenes/8-9.jpg);
    background-size: 360px 600px;
    background-position-x: 15%;
}



