body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: bisque;
}

div img{
    grid-column: 1 /2 ;
    width: 150px;
    height: 110px;
}

#content{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

nav li:hover{
    grid-template-columns: 1 / 2;
    background-color: azure;
}

nav{
    background-color: rgb(131, 193, 196);
    padding: 15px;
}

li{
    font-size: 15px;
    line-height: 25px;
}

main{
    grid-template-columns: 2 / 3;
    text-align: justify;
    padding: 20px;
    font-size: 17px;
    background-color: burlywood;
}

article{
    grid-template-columns: 3 / 4;
    background-image: url(../imagenes/8-9.jpg);
    background-size: 400px 750px;
    background-position-x: 25%;
    background-position-y: 15%;
    border-radius:  15px 15px 15px 15px;
}

footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 125px;
}

#izq{
    border: 1px solid skyblue;
    grid-column: 1 / 2;
    background-color: darkkhaki;
}

#lista2 li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 17px;
    text-align: center;
    background-color: aquamarine;
}

#cent{
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-around;
    border: 1px solid skyblue;
    grid-column: 2 / 3;
    padding: 20px;
}

.album{
    width: 100px;
    height: 100px;
    position: relative;
}

.album img{
    width: 100%;
    height: 100%;
    position: absolute;
}

#album1{
    left: 20px;
    top: 5px;
}

#album2{
    left: -16px;
    top: 15px;
}

#album3{
    left: -49px;
    top: 7px;
}

#der{
    border: 1px solid skyblue;
    grid-column: 3 / 4
}

