div{
    margin: 2px;
}

#top:hover{
    opacity: 0.5;
    
}

#principal{
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

#b1{
    background-image: url(../imagenes/1.jpg);
    background-size: 594px 200px;
    background-position-y: 9%;
    background-repeat: no-repeat;
    position: absolute;
    width: 592px;
    height: 77px;
}

#b2{
    background-image: url(../imagenes/2-3-4.jpg);
    background-size: 210px 700px;
    background-position-y: 27%;
    background-position-x: 15%;
    position: absolute;
    top: 90px;
    width: 193px;
    height: 83px;
}

#b3{
    background-image: url(../imagenes/2-3-4.jpg);
    background-size: 210px 700px;
    background-position-y: 41%;
    background-position-x: 15%;
    position: absolute;
    top: 176px;
    width: 193px;
    height: 83px;
}

#b4{
    background-image: url(../imagenes/2-3-4.jpg);
    background-size: 210px 700px;
    background-position-y: 55%;
    background-position-x: 15%;
    position: absolute;
    top: 263px;
    width: 193px;
    height: 83px;
}

#b5{
    background-image: url(../imagenes/the-fall-of-the-rebel-angels.jpg);
    background-size: 395px 254px;
    position: absolute;
    top: 92px;
    left: 210px;
    width: 395px;
    height: 254px;
}

#b6{
    background-image: url(../imagenes/6.jpg);
    background-size: 193px 238px;
    background-position-y: 28%;
    background-repeat: no-repeat;
    color: aliceblue;
    position: absolute;
    top: 350px;
    width: 193px;
    height: 170px;
}

#b7{
    background-image: url(../imagenes/7.jpg);
    background-size: 355px 170px;
    background-position-y: 25%;
    background-position-x: 35%;
    background-repeat: repeat;
    position: absolute;
    top: 525px;
    width: 398px;
    height: 79px;
}

#b8{
    background-image: url(../imagenes/8-9.jpg);
    background-size: 215px 290px;
    background-position-y: 24%;
    position: absolute;
    top: 350px;
    left: 210px;
    width: 199px;
    height: 83px;
}

#b9{
    background-image: url(../imagenes/8-9.jpg);
    background-size: 215px 290px;
    background-position-y: 70%;
    position: absolute;
    top: 437px;
    left: 210px;
    width: 199px;
    height: 83px;
}

#b10{
    background-color: greenyellow;
    position: absolute;
    background-image: url(../imagenes/10.jpg);
    background-size: 190px 254px;
    background-repeat: no-repeat;
    top: 350px;
    left: 415px;
    width: 190px;
    height: 254px;
}